<!--main login sessions/new-->
<div class="login-title">ログイン</div>

<div class="login-form">
  <%= form_with(url: login_path, scope: :session) do |f| %>
  <div class="text-field-box">
    <div class="input-box">
      <div class="input">
        <div class="label">
          <%= f.label "メールアドレス" %>
        </div>
        <div class="content">
          <%= f.email_field :email, class: "form_content" %>
        </div>
      </div>
    </div>
  </div>
  <div class="text-field-box">
    <div class="input-box">
      <div class="input">
        <div class="label">
          <%= f.label "パスワード" %>
        </div>
        <div class="content">
          <%= f.password_field :password, class: "form_content" %>
        </div>
      </div>
    </div>
  </div>
  <div class="button-blue">
    <%= f.submit "ログインする", class: "btn" %>
  </div>
  <% end %>
</div>