<!--main top-loggedIn users/show-->
<head>
  <!--chart-->
  <%= include_gon %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
  <script>
    window.onload = function () {
      let context = document.querySelector("#japanese_people_chart").getContext('2d')
      new Chart(context, {
        type: 'bar',
        data: {
          labels: ['先々月', '先月', '今月'],
          datasets: [{
            label: "バックエンド",
            data: [gon.dataset1_1, gon.dataset1_2, gon.dataset1_3],
            backgroundColor: ['#ffbcdd']
          },{
            label: "フロントエンド",
            data: [gon.dataset2_1, gon.dataset2_2, gon.dataset2_3],
            backgroundColor: ['#ffdbb7']
          },{
            label: "インフラ",
            data: [gon.dataset3_1, gon.dataset3_2, gon.dataset3_3],
            backgroundColor: ['#ffffb7']
          }],
        },
        options: {
          scales: {
            y: {
              min: 0,
              max: 100,
            }
          },
          responsive: false
        }
      })
    }
  </script>
</head>

<div class="container">
  <div class="row profile">
    <div class="col">
      <!--%= link_to image_tag("duck.jpg", alt: "Rails logo", width: "360", id: "avatar-img") %>-->

      <!--imagemagickで画像表示-->
      <%= image_tag @user.image_id.url, :size => '360x360', class: "avatar" %>
    </div>
    <div class="col content">
      <div class="title">自己紹介</div>
      <div class="user-text"><%= @user.introduction %></div>
      <%= link_to "自己紹介を編集する", edit_user_path(current_user), class: "btn", id: "edit-btn" %>
    </div>
  </div>
  <div class="row chart">
    <div class="col">
      <div class="row user-chart">
        <div class="title">スキルチャート</div>
        <div class="edit-btn">
          <%= link_to "スキルを編集する", edit_skill_path(current_user), class: "btn skii-edit-btn", id: "edit-btn" %>
        </div>
      </div>
      <div class="row">
        <!--chart-->
        <div class="skill-chart">
          <canvas id="japanese_people_chart" width="500" height="500"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>