<!--main top-loggedIn users/show-->
<div class="row profile">
  <div class="col">
    <!--%= link_to image_tag("duck.jpg", alt: "Rails logo", width: "360", id: "avatar-img") %>-->

    <!--imagemagickで画像表示-->
    <%= image_tag @user.image_id.url, :size => '360x360', class: "avatar" %>
  </div>
  <div class="col content">
    <div class="title">自己紹介</div>
    <%= @user.name %><%= @user.email %>
    <div class="text"><%= @user.introduction %></div>
    <%= link_to "自己紹介を編集する", edit_user_path(current_user), class: "btn btn-lg" %>
  </div>
</div>
<div class="row chart">
  <div class="col skill">
    <div class="title">スキルチャート</div>
    <%= link_to "スキルを編集する", edit_skill_path(current_user), class: "btn btn-lg" %>
    <div class="chart">図表</div>
  </div>
</div>