<!--main skill-edit skills/edit-->
<div class="container">
  <% category_numbers = Array[1, 2, 3] %>
  <% category_numbers.each do |number| %>
  <div class="by_category">
    <div class="row">
      <div class="category_name">
        <% category = Category.find_by(id: number) %>
        <%= category.category_name %>
      </div>
      <div class="new_skill">
        <%= link_to "スキルを追加する", new_skill_path(category_id: number), class: "new-skill-btn" %>
      </div>
    </div>

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th class="th-left">習得スキル</th>
            <th class="th2">習得レベル</th>
            <th class="th3"></th>
            <th class="th3"></th>
          </tr>
        </thead>
        <tbody>
          <% skills = Skill.where(category_id: number) %>
          <% skills.each do |skill| %>
            <%= form_with model: skill, local: true do |f| %>
            <tr>
              <td class="th-left"><%= skill.skill_name %></td>
              <td class="th2"><%= f.select :level, [[0, 0], [10, 10], [20, 20], [30, 30], [40, 40], [50, 50],
                            [60, 60], [70, 70], [80, 80], [90, 90], [100, 100]] %></td>
              <td class="th3">
                <%= f.submit "習得レベルを保存する", class: "btn btn-update" %>
              </td>
              <td class="th3">
                <% if current_user?(@user) %>
                  <%= link_to "スキルを削除する", skill, data: { "turbo-method": :delete,
                                                                  turbo_confirm: "本当に削除しますか？" },
                                                                  class: "btn-delete" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>